extends ../_layout/_layout
block content
        div.content
            div.container-fluid
                div.row
                        div.col-sm-3.left_side_bar
                            include ../_layout/_menu
                            div.container-fluid.contact_bar
                                div.row
                                    include  ../_layout/_contact_bar_desktop
                        div.box.col-sm-9
                            div.row
                                div.section_header.col-sm-12
                                    h2.h2 Основная информация
                                div.col-sm-12
                                    div.profile_img_box.col-sm-4
                                        img(src='img/me2.jpg' alt='profile').profile_img
                                    div.about_me.col-sm-8

                                        p.about_info: | <strong> Меня зовут:</strong>
                                            span.about_info_span Ivan Manoil.

                                        p.about_info: | <strong>Мой возраст:</strong>
                                            span.about_info_span 23 лет.

                                        p.about_info: | <strong>Мой город:</strong>
                                            span.about_info_span Chisinau, MD.

                                        p.about_info: | <strong>Моя специализация:</strong>
                                            span.about_info_span FRONTEND разработчик.

                                        ul.skill_list <strong>Ключевые навыки:</strong>
                                            li.skill html
                                            li.skill css
                                            li.skill javascrip
                                            li.skill gulp
                                            li.skill git

                        div.box.col-sm-9
                            div.row
                                div.section_header.col-sm-12
                                    h2.h2 Опыт работы
                            div.row
                                div.col-sm-12.inside_box
                                    div.col-sm-2.icon_work: i.icon-briefcase
                                    div.col-sm-10
                                        p.p: b "ИП Боровицкий" - Продавец дисков
                                        p.p Сентябрь 2005 - Август 2008
                                div.col-sm-12.inside_box
                                    div.col-sm-2.icon_work: i.icon-briefcase
                                    div.col-sm-10
                                        p.p: b "ООО Системы безопастности" - Системный администратор
                                        p.p Июнь 2008 - Июль 2010

                        div.box.col-sm-9
                            div.row
                                div.section_header.col-sm-12
                                    h2.h2 Образование
                            div.row
                                div.col-sm-12.inside_box
                                    div.col-sm-2.icon_studies: i.icon-graduation-cap
                                    div.col-sm-10
                                        p.p Незаконченное высшее. СПБГУ ИТМО
                                        p.p.thin Октябрь 2012 - по настоящее время
                                div.col-sm-12.inside_box
                                    div.col-sm-2.icon_studies: i.icon-doc-text
                                    div.col-sm-10
                                        p.p Курсы Loftschool.ru
                                        p.p.thin Ноябрь 2014 - по настоящее время