extends ../_layout/_layout
block portfolio
    div.content
        div.container-fluid
            div.row
                div.col-sm-12
                    div.col-sm-3.left_side_bar
                        include ../_layout/_menu
                        include ../_layout/_contact_bar_desktop
                    div.col-sm-9.my_works
                        div.row
                            div.section_header.col-sm-12
                                h2.h2 Мои работы
                            div.col-sm-12
                                div.portfolio_items.col-sm-6
                                    div.about_item
                                        div.caption
                                            div.caption_content
                                                span Metaform

                                        img(src='img/avatar.png').project_cover

                                    div.project_name
                                        a(href='http://metaform.me') www.metaform.me
                                    div.about_project Personal portfolio

                                div.portfolio_items.col-sm-6
                                    div.about_item
                                        div.caption
                                            div.caption_content
                                                span Metaform

                                        img(src='img/avatar.png').project_cover

                                    div.project_name
                                        a(href='http://metaform.me') www.metaform.me
                                    div.about_project Personal portfolio Personal portfolio Personal portfolio Personal portfolio Personal portfolio Personal portfolio

                                div(data-toggle="modal" data-target="#IDmodal_1").portfolio_items.col-sm-6
                                    div.add_item
                                        div.add_item_box
                                            img(src='img/pl.png')
                                            div Добавить проект
    //Modal
    div(tabindex='-1' role='dialog' aria-labelledby='modalLabel1' aria-hidden='true').modal.fade#IDmodal_1
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type='button' data-dismiss='modal' aria-labelledby='close').btn-close-modal X
                    h4.modal-title Добавление проекта
                div.modal-body
                    form(method='POST' action='' name='add_project')#add_project_form
                        span Название проекта
                        input(type='text' name='project_name').input_theme

                        span Картинка проекта
                        div.row.upload_form
                            input(type='text').selected-files.col-xs-7
                            div.col-xs-5
                                button(type='button').btn_default.fake-upload#fake_upload Select image..

                            input(type='file').input_theme.file-upload#upload_btn

                        span URL проекта
                        input(type='text').input_theme

                        span Описание
                        textarea
                        div.modal-footer
                            button(type='submit').btn_default Upload