
//mobile
@media (max-width: 940px) {

  .menu {
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 0;
    background-color: $base_color;
    font-weight: 100;
    font-size: 16px;
    font-family: fira_sansbook;
  }

  .nav {
    list-style: none;
    color: #fff;
  }
  .nav_items {
    text-align: center;
    color: $font_color_2;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: border-width 0.5s;
    & span {
      display: inline-block;
      margin: 0 10px 0 10px;
      padding: 15px 0 0 0;

      &:hover {
        color: $color;
        border-bottom: 0;
      }
    }
  }

  .menu_item {
    color: #1C667A;
    text-align: left;
    position: relative;
    height: 40px;
    width: 100%;

    &:first-child a {
      border-radius: 0;
    }
    &:last-child a {
      border-radius: 0;
    }
  }

  .contact_bar {
    display: none !important;
  }

  .left_side_bar {
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-align: center;
    top: -250px;
    left: 0;
    position: absolute;
    min-width: 100%;
    max-height: 200px !important;
    background-color: #262626;
    transition: top 0.5s ease;
    -webkit-box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.75);
    z-index: 99;
  }
  .menu_btn{
    position: absolute;
    top: 0;
    display: inline-block;
    float: right;
    right: 20px;
  }
  .general_info, .work_practic, .studies, .contact_wrapper, .my_works, .social {
    display: inline-block;
    float: none;
  }
}

@media (max-width:768px) {
  .about_me, .job, .studies_level{
    font-size: 17px !important;
    line-height: 22px;
    text-align: center;
  }

  .profile_img_box {
    min-height: 120px;
    height: auto;
    margin-bottom: 15px;
    text-align: center;
  }
  .profile_img {
    position: relative;
    margin-top: 0;
    width: 140px;
    height: 140px;
  }
  .section_header{
    text-align: center;
    & > span {
      font-size: 24px;
      padding: 0;
      border: 0;
    }
  }

  .form_header{
    font-size: 22px;
    & > div {
      margin-top: 30px;
    }

  }
  .input_theme {
    width: 100% !important;
  }
}

@media  (max-width: 668px) {
  .brand-logo {
    padding: 15px;
    min-width: 280px;
  }

  #header {
    min-height: 30px;
    height: 65px !important;
  }

  .brand-logo {
    min-width: 200px;
  }
  .logo {
      font-size: 24px;
    }
  .logo_text {
    text-align: center;
    font-size: 8px;
  }

  .social_box {
    display: none !important;
    max-width: 0 !important;
    max-height: 0 !important;
  }
  .icon-menu {
    font-size: 40px;
    line-height: 60px;
  }
}


@media (max-width: 452px) {
  #footer {
    line-height: 18px;
    & span {
      display: block;
      height: 100%;
      padding-top: 10px;
    }
  }
  .btn_default, .btn_disable {
    width: 100%;
    font-size: 13px;
  }
  .modal-title {
    font-size: 20px;
  }
}
