block menu
div.menu
    ul.nav
        li.menu_item
            a(href='index.html').nav_items: span.remove_hover Обо мне
        li.menu_item
            a(href='portfolio.html').nav_items: span.remove_hover Мои работы
        li.menu_item
            a(href='contact_me.html').nav_items: span.remove_hover Связаться со мной