block menu
div.menu
    ul.nav
        li.menu_item.active
            a(href='index.html').nav_items.active Обо мне
        li.menu_item
            a(href='portfolio.html').nav_items Мои работы
        li.menu_item
            a(href='contact_me.html').nav_items Связаться со мной
