block contact_bar_desktop
div.contact_bar.container-fluid
    ul.row
        div.social_bar_head Контакты
        li.col-sm-12.contact_tel
            div.icon_tel.col-xs-2: i.icon-phone
            div.col-xs-10
                a(href='tel:+37379868007').contact_bar_li +37379868007

        li.col-sm-12.contact_mail
            div.icon_mail.col-xs-2: i.icon-mail
            div.col-xs-10
                a(href='mailto:ionmnl@gmail.com').contact_bar_li ionmnl@gmail.com

        li.col-sm-12.contact_skype
            div.icon_skype.col-xs-2: i.icon-skype
            div.col-xs-10
                a(href='skype:ionmnl').contact_bar_li ionmnl



