block menu
div.menu
    ul.nav
        li.menu_item
            a(href='index.html').nav_items.border_b Обо мне
        li.menu_item
            a(href='portfolio.html').nav_items.border_b Мои работы
        li.menu_item
            a(href='contact_me.html').nav_items Связаться со мной